@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .title {
        font-family: "Dancing Script", cursive;
        font-weight: 400;
        font-size: 36px;
    }
}